@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:wght@300&family=Lobster+Two&family=PT+Serif&display=swap');

body {
	background: linear-gradient(-45deg, #000000, #90abcc , #071e3c);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
